{% extends 'main/base.html' %}
{% block menu %}
{% include 'main/includes/inc_left_menu.html' %}
{% endblock %}
{% block content %}
<div class="row mt-5 ms-0 me-0">
    <div class="col-6">
        <h1>
            Профиль
        </h1>
    </div>
</div>
<div class="row mt-5 ms-0 me-0">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}