{% extends 'main/base.html' %}
{% block content %}
<div class="row mt-5 ms-0 me-0 align-items-center">
    <div class="col-5">
        <h1>
            Удалить клиента {{ object }}
            {% if object.patronymic %}
            {{ object.patronymic }}
            {% endif %}?
        </h1>
    </div>
</div>
<div class="row mt-5 ms-0 me-0">
    <div class="card mb-3 col-6">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>
                    Вы точно хотите удалить клиента
                    {{ object }}
                    {% if object.patronymic %}
                    {{ object.patronymic }}
                    {% endif %}?
                </p>
                <button type="submit" class="btn btn-danger me-2">Удалить</button>
                <a href="{% url 'main:clients' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}